<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
        *{
            font-family: "Noto Sans Thai", sans-serif;
        }
    </style>
</head>
<body>

    <div class="flex justify-center pt-20">
        <div class="w-full max-w-xl text-center">
            <h1>ยินดีต้อนรับ <%= username %></h1>
            <div class="pt-5">
                <a href="/" class="border border-indigo-500 text-indigo-500 px-5 py-1 text-sm rounded-md hover:bg-indigo-500 hover:text-white transition">กลับหน้าแรก</a>
            </div>
            <div class="py-5">
                <a href="/logout" class="border border-red-500 text-red-500 px-5 py-1 rounded-md text-sm hover:bg-red-500 hover:text-white transition">ออกสู่ระบบ</a>
            </div>
        </div>
    </div>
    
</body>
</html>