<div class="flex justify-center px-5 pt-20">
    <div class="w-full max-w-7xl">

        <div>
            <div class="text-center text-2xl">
                <h1>Nomads <span class="text-indigo-500">Developer</span></h1>
            </div>
            <div class="flex justify-center gap-5 pt-5">
                <a href="https://www.facebook.com/kxerzx" class="text-center text-blue-500 border border-blue-500 w-[200px] py-5 rounded-md hover:bg-indigo-500 hover:text-white transition">
                    <div class="flex justify-center text-3xl">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </div>
                    <h1>
                        Facebook
                    </h1>
                </a>
                <a href="https://github.com/nomadsdev" class="text-center text-black border border-black w-[200px] py-5 rounded-md hover:bg-black hover:text-white transition">
                    <div class="flex justify-center text-3xl">
                        <ion-icon name="logo-github"></ion-icon>
                    </div>
                    <p>
                        GitHub
                    </p>
                </a>
            </div>
        </div>

    </div>
</div>