<div class="flex justify-center px-5">
    <div class="w-full max-w-7xl flex justify-between py-5">
        <div>
            <a href="/">logo</a>
        </div>
        <div class="flex gap-5 items-center sm:text-base text-sm">
            <% if (!session.loggedin) { %>
                <a href="/login" class="border border-indigo-500 px-5 py-1 text-indigo-500 rounded-md hover:bg-indigo-500 hover:text-white transition">login</a>
                <a href="/register" class="bg-indigo-500 text-white border border-indigo-500 px-5 py-1 rounded-md hover:bg-white hover:text-indigo-500 transition">register</a>
            <% } else { %>
                <a href="/profile" class="border border-indigo-500 px-5 py-1 text-indigo-500 rounded-md hover:bg-indigo-500 hover:text-white transition">profile</a>
                <a href="/logout" class="bg-indigo-500 text-white border border-indigo-500 px-5 py-1 rounded-md hover:bg-white hover:text-indigo-500 transition">logout</a>
            <% } %>
        </div>
    </div>
</div>